@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray-900{
background-color: #11182763;
}

#google_translate_element {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /* .applications  .css-19bb58m:after {
    border: 0px !important;

  } */
  